body {
  background: transparent;
  font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#map {
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  padding: 30px;
}
svg {
  width: 100%;
}
path:hover {
  fill: #d6ebe3 !important;
}
.fill-province {
  fill: #6fc0a9;
}
.title {
  margin-left: 30px;
  font-size: 20px;
  font-weight: 700;
  color: #373737;
}
.province-info {
  z-index: 100;
  padding: 8px 38px 8px 8px;
  border: 2px solid #6fc0a9;
  display: none;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  margin-bottom: 15px;
}
.heading-wrapper {
  display: flex;
  align-items: center;
}
.heading {
  font-weight: 700;
  font-size: 12px;
  color: #373737;
  margin-left: 30px;
  margin-bottom: 15px;
}
.typology-heading {
  margin-left: 200px !important;
}
.name-heading-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.typology-heading-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.status-heading-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.help-wrapper {
  display: flex;
  align-items: center;
}
.name {
  font-size: 12px;
  color: #373737;
  font-weight: 400;
  margin-left: 30px;
}
.typology {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-left: 200px !important;
  margin-bottom: 10px;
}
.status {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-left: 30px;
  margin-bottom: 10px;
}
