html,
body {
  padding: 0;
  margin: 0;
  background: transparent;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.flex {
  display: flex;
}
.country-wrapper {
  padding: 100px;
}
svg {
  height: 100%;
  width: 100%;
}
path {
  fill: #13294b;
  stroke: #8994a5;
  stroke-width: 0.5;
  cursor: pointer;
}
.line {
  fill: transparent;
  stroke: red;
  width: 1px;
}
.circle {
  stroke: red;
  fill: transparent;
}
.interpolate {
  stroke: red;
  fill: red;
}
.country-selected {
  fill: #47d7ac;
}
.country-list {
  margin-right: 200px;
}
.country-list h1 {
  cursor: pointer;
  color: #13294b;
}
.country-list h1:hover {
  color: #47d7ac;
}
