html,
body {
  padding: 0;
  margin: 0;
  background: transparent;
  font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

svg {
  stroke: #ffffff;
  height: 100%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

svg path {
  fill: #13294b;
  cursor: pointer;
  outline: none;
}

svg path:hover {
  fill: #339999;
}

svg path:focus {
  fill: #339999;
}

svg path[aria-checked='true'] {
  fill: #47d7ac;
}

svg path[aria-current='true'] {
  fill: #47d7ac;
}
